.ate_section header {
  width: 1000px;
  margin: 1.7rem auto;
}

.ate_section header h2 {
  display: inline-block;

  font-weight: bold;
  color: rgb(117, 139, 253);
}

.ate_section {
  margin: 0 auto;
  padding-bottom: 50px;

  width: 1000px;
  display: flex;
  flex-direction: column;

  min-height: 40vh;
}

.ate_section input {
  display: inline-block;
}

/* form.ate_insert */

form.ate_insert {
  margin: 0 auto;
}

/* articl */
article {
  width: 80%;
  margin: 0 auto;
}

article label,
article input {
  padding: 0.4rem;
}

article input:focus,
article textarea:focus {
  background-color: rgb(233, 237, 255);
}

/* article.insert_box */
article.insert_box div {
  margin: 20px auto;
  width: 80%;
}

article.insert_box label {
  display: inline-block;
  width: 20%;

  margin-right: 1rem;

  vertical-align: top;
  text-align: right;
}

article.insert_box input {
  width: 70%;
  border: 1px solid #ccc;
}

/* article.hashtag_insert_box */
article.hashtag_insert_box {
  margin: 20px auto;
}

article.hashtag_insert_box > div {
  background-color: #e9edff;
  border-radius: 5px;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
}

/* button */

.ate_btn_box {
}

.ate_btn_insert {
  width: 40%;
  padding: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: white;

  border: none;
  background-color: #6d7eb1;
  border-radius: 5px;
}

/* 여기는 checkbox */

div.checkbox {
}

div.checkbox div {
  display: inline-block;
  width: 80px;

  /* text-align: left; */
}

div.checkbox div input {
}

.checkbox div p {
}
