.ate_section header {
  width: 1000px;
  margin: 1.7rem auto;
}

.ate_section header h2 {
  display: inline-block;

  font-weight: bold;
  color: rgb(117, 139, 253);
}

.ate_section {
  /* border: 1px solid lightgray; */

  margin: 0 auto;
  padding-bottom: 50px;

  width: 1000px;
  display: flex;
  flex-direction: column;

  min-height: 40vh;
}

form.ate_insert {
  margin: 0 auto;
}

div.insert_box div {
  margin: 20px auto;
  width: 80%;
}

form.ate_insert div label,
form.ate_insert div input {
  padding: 0.4rem;
}

form.ate_insert div label {
  display: inline-block;
  width: 20%;

  margin-right: 1rem;

  vertical-align: top;
  text-align: right;
}

form.ate_insert div input {
  width: 70%;
  border: 1px solid #ccc;
}

form.ate_insert div input:focus,
form.ate_insert div textarea:focus {
  background-color: rgb(233, 237, 255);
}

.ate_btn_box {
}

.ate_btn_insert {
  width: 40%;
  padding: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: white;

  border: none;
  background-color: #6d7eb1;
  border-radius: 5px;
}
