table.com_board {
  width: 80%;
  margin: 0px auto;
  border-collapse: collapse;
}

table.com_board th {
  padding: 15px 10px;
  border-top: 1px solid;
  text-align: center;
}

table.com_board tr.first {
  background-color: #758bfd;
}

table.com_board tbody {
  padding: 10px;
}

h1 {
  padding: 5%;
}
