/* Board.jsx */
div.com_main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

table.com_board,
table.com_board tr,
table.com_board td,
table.com_board th {
  text-align: center;
  border: 1px solid;
}

table.com_board {
  border-collapse: collapse;
  margin: 10px auto;
  width: 800px;
}

/* Insert.jsx */
div.board_insert label,
div.board_insert input {
  display: inline-block;
  width: 20%;
  margin: 5px;
}

div.board_insert label {
  text-align: right;
}

div.detail_reply {
  width: 700px;
  text-align: center;
  margin: 1rem auto;
}

div.reply_insert {
  display: flex;
  margin: 0 auto;
}

div.reply_insert input,
div.reply_insert button {
  margin: 0.3rem;
}

div.reply_insert input {
  width: 500px;
  padding: 0.5rem;
}

div.detail_reply button {
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: rgba(117, 140, 253);
}
