div.community button {
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: rgba(117, 140, 253);
  color: white;
  padding: 0.5rem;
  margin: 0.5rem 0.2rem;
}

/* Board.jsx */
div.com_main {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

table.com_board,
table.com_board tr,
table.com_board td,
table.com_board th {
  text-align: center;
  border: 1px solid;
}

table.com_board {
  border-collapse: collapse;
  margin: 10px auto;
  width: 800px;
}

/* BoardDetail.jsx */
div.detail_view {
  width: 700px;
  margin: 0.5rem auto;
  border: 1px solid;
}

div.detail_view label,
div.detail_view input {
  display: inline-block;
  padding: 0.3rem;
  margin: 0.2rem;
}

div.detail_view label {
  width: 20%;
  text-align: right;
}

div.detail_view input {
  border: none;
  border-bottom: 1px solid rgba(117, 140, 253);
  width: 50%;
}

div.detail_reply {
  width: 700px;
  text-align: center;
  margin: 1rem auto;
}

div.reply_insert {
  display: flex;
  margin: 0 auto;
}

div.reply_insert input,
div.reply_insert button {
  margin: 0.3rem;
}

div.reply_insert input {
  width: 500px;
  padding: 0.5rem;
}

div.detail_reply div {
}

div.reply_view label,
div.reply_view input,
div.reply_view span {
  display: inline-block;
}

div.reply_view label {
  width: 5%;
}

div.reply_view input {
  border: none;
  border-bottom: 1px solid rgba(117, 140, 253);
  width: 50%;
  padding: 0.5rem;
}

div.reply_view span,
div.reply_view i {
  margin: 0.1rem 0.2rem;
}
