@media screen and (max-width: 768px) {
  div.join_form {
    margin-top: 30px;
    height: 405px;
  }
  div.join_form input {
    width: 50px;
    margin: 20px;
  }
}

div.join_form {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/
  margin-top: 4%;
  width: 1000px;
  height: 800px;
  margin: auto;
  margin-top: 4%;
}

input#id_check {
  width: 9% !important;
  /* font-size: 12px; */
  margin: auto;
  font-weight: bold;
}

div.check_box1 label {
  width: 10%;
}
div.check_box1 input {
  width: 21% !important;
}

div.join_form label {
  display: inline-block;
  width: 15%;
  text-align: center;
  margin: 10px;
  /* margin-left: 10%; */
  padding: 8px;
  font-weight: bold;
}

div.join_form input,
div.btn_join button {
  outline: none;
  box-shadow: none;
  border: none;
}

div.join_form input {
  display: inline-block;
  width: 30%;
  margin: 6px;
  padding: 20px;
  border-bottom: 1px solid #aaa;
}

div.join_form input:focus {
  background-color: #f2f5f8;
}

div.btn_join button {
  padding: 15px 20px 20px 20px;
  /* font-family: Ubuntu; */
  width: 10%;
  font-weight: bold;
  font-size: 24;
  margin-top: 2rem;
}
