/* div.logo {
	text-align : center;
	margin-top : 40%;
	margin-bottom : 5%; */
/* } */

div.login {
  display: flex;
  flex-direction: column;
  height: 10%;
  margin-bottom: 10%;
  margin-top: 10%;
}

div.input_id input,
div.btn_button button {
  outline: none;
  box-shadow: none;
  border: none;
  text-align: center;
}
div.id_pw {
  height: 70vh;
  margin-top: 5%;
}
div.id_pw div.input_id {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

/* 
div.input_id i{
	position: absolute;
	right: 30px;
} */
div.input_id input {
  padding: 10px;
  border-bottom: 1px solid;
  background-color: #f2f5f8;
  /* width: 15%; */
  width: 50%;
  margin-bottom: 15px;
}

div.id_pw div.input_id span {
  position: absolute;
  top: 14%;
  left: 26%;
}
div.btn_button button {
  padding: 2px 3px 2px 3px;
  margin: 5px;
  outline: none;
}

button.btn_login {
  padding: 15px 20px 20px 20px;
  /* font-family: Ubuntu; */
  width: 15%;
  font-weight: bold;
  font-size: 24;
}

div.btn_button button {
  background-color: transparent;
  padding: 2px 3px 2px 3px;
  margin: 5px;
  outline: none;
}

button.btn_find,
button.btn_join {
  padding: 0 20px 0 20px;
}
