header.App-header {
	padding: 5px;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid lightslategrey;
}
/* header.App-header,
header.App-header nav.menu_wrap {
	justify-content: space-around;
} */

header.App-header,
header.App-header nav.menu_wrap,
header.App-header nav.menu_wrap ul {
	display: flex;
	flex-direction: row;
}

header.App-header div#logo {
	padding: 10px;
	margin-left:10px;
}

header.App-header nav.menu_wrap ul{
	margin-right: 1rem;
}

header.App-header nav.menu_wrap ul li {
	transition: 0.2s;
	padding: 10px;
	margin: 2px 10px;
}

header.App-header nav.menu_wrap ul li:hover {
	color:white;
	border-radius: 15px;
	background-color: #7b65f7cb;
}