h2.result {
  margin-top: 20px;
}

div.result_tag {
  width: 1000px;
  text-align: left;
  margin: 0 auto;
}

button.result_tag {
  width: 5%;
  border: none;
  background-color: transparent;
}

div.result_search {
  display: flex;
  width: 1000px;
  border-radius: 15px;
  border: 1px solid;
  margin: 10px auto;
}

div.result_image {
  flex: 1;

  height: 20vh;
  background-image: url("../image/result_image.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;

  border-radius: 15px 0 0 15px;
}

div.result_ex {
  flex: 3;
  align-items: center;
  justify-content: center;
}
