div.search_nav {
  margin: 0 auto;
  width: 1000px;
  margin-top: 10px;
}

ul.search_nav {
  display: flex;
  list-style: none;
  padding: 0.8rem;
  justify-content: space-evenly;
  background-color: whitesmoke;
}

ul.search_nav a {
  display: inline-block;
  padding: 0.3rem;

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: 0.3s;

  width: 10vw;
}

ul.search_nav a:hover:not(.active_nav) {
  border-bottom: 3px solid;
}

a.active_nav {
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid;
  background-color: antiquewhite;
  width: 10vw;
}
