div.detail_all {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

header.detail_header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  width: 1000px;
  background-image: url("../image/atelier.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 50px 50px;

  text-shadow: 2px 2px 2px black;

  margin: 0 auto;
  margin-bottom: 5vh;
}

div.detail_section {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 3rem auto;

  border: 1px solid;
}

div.detail_section div {
  flex: 1;
}

div.detail_site {
  margin: 10px;
}

span.site_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

span.site_icon a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
}

a.booking {
  border: 2px solid;
  border-radius: 8px;
  padding: 3px;
}

/* 
div.map {
  width: 616px;
  height: 280px;
  margin: 0 auto;
} 
*/
