section.search_section {
  border: 1px solid red;
  margin: 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  min-height: 30vh;
  /* justify-content: center; */
}

div.tag {
  padding: 15px;
}

div.tag:hover {
  background-color: rgb(195, 223, 240);
  border-radius: 5px;
}

/* LocalSearcch */
div.local_box {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

div.map_sample {
  flex: 1.7;

  min-height: 30vh;
  background-image: url("../image/map.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

/* WaySearch */

div.online,
div.offline {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
}

div.offline {
  border: 1px solid green;

  background-image: url("../image/offline.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: contain;
}

div.online {
  border: 1px solid blue;

  background-image: url("../image/online.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: contain;
}
