* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #f2f5f8;
}

/*---------- layout ------------*/
/* header */

header {
  width: 100vw;
  height: 8vh;
  background-color: white;
}

header div#logo {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

/* header div#logo:hover::before {
  content: "🐱🐹🐲🐯🦔🐕";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

header nav.menu_wrap ul {
  display: flex;
}

header nav.menu_wrap ul li {
  padding: 10px;
  margin: 2px 10px;
}

section#main {
  width: 1000px;
  margin: 0 auto;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00b7ff;
}

/* footer */
footer {
  padding: 10px;
  height: 10vh;
  background-color: #a6adb4;
  color: white;
}
