extends ../layout

block content
	script(src="/js/search.js")
	script(src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx623f62f3287f4849850f27eec0de6ee6")

	style.
		
		section.local {
			display: flex;
		}

		article.local {
			flex: 1;
			display: flex;
			flex-wrap: wrap;

		}

		article.local div {
			
		}

		article.map {
			flex: 2;
		}
		
	h1 지역별 공방 찾기
	section.local
		article.local
			div 전체
			div 서울
			div 경기
			div 광주
			div 대구
			div 대전
			div 부산
			div 세종
			div 울산
			div 인천
			div 강원
			div 경남
			div 경북
			div 전남
			div 전북
			div 충남
			div 충북
			div 제주
		article.map
			body(onload="initTmap()")
			div#map 
