link(rel='stylesheet', href='/css/style.css')
script(src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous")
style.
	body {
		overflow: hidden;
	}
	div.logo {
		text-align : center;
		margin-top : 5%;
		margin-bottom : 5%;
	}
	form {		
		text-align : center;
	}
	div.login {
		display : flex;
		flex-direction : column;
		height: 10%;
		margin-bottom: 2%;
	}

	input, button {
		outline : none;
		box-shadow : none;
		border : none;
	}
	input {
		padding: 10px;
		border-bottom : 1px solid;
		background-color : #f2f5f8;
		width: 15%;
		margin-bottom : 15px;
	}
	button {
		padding : 2px 3px 2px 3px ;
		margin : 5px;
		outline : none;	
	}

	button.btn_login {
		padding : 15px 20px 20px 20px;
		font-family: Ubuntu;
		width: 15%;
		font-weight : bold;
		font-size : 24;
		
	}

	div.btn_button button {
		background-color : transparent;
	}

	button.btn_find , button.btn_join {
		padding: 0 20px 0 20px;
	}
	
div.logo
	svg(width="88" height="35")
		text(transform="translate(0 30)" fill="#27187f" font-size="31" font-family="Ubuntu-Bold, Ubuntu" font-weight="700")
			tspan(x="0" y="0") Art
			tspan(y="0" fill="#758bfd") Re 
form(method="POST")
	div.login
		div.ID
			i(class="far fa-user")
			input(name="ID")
			
		div.PW
			i(class="fas fa-unlock-alt")
			input(name="PW")
	button.btn_login login	
	div.btn_button
		//- lable ID 찾기
		//- input(type="button" name="ID 찾기")
		//- input(type="button" name="PW 찾기")
		//- input(type="button" name="회원가입")
		button.btn_find ID/PW 찾기
		button.btn_join 회원가입