* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 8vh;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.footer {
  height:40vh;
  border-top: 1px solid rgba(0,0,0,0.3);
  /* border-bottom: 1px solid rgba(0,0,0,0.3); */
  /* color: rgba(117, 140, 253); */
  color:white;
  font-size:17px;
  text-align: left;
  background-color: rgba(117, 140, 253);
}

div.footer_box{
  width: 990px;
  margin: 0 auto;
  padding: 37px 0 78px;
  
}

ul.ft_nav{
  display:flex;
  margin:0 2px;
}

ul.ft_nav li, ul.ft_nav p{
  display:flex;
  margin:0 4px;
  font-size:24px;
  font-weight: 300;
}

ul.ft_nav li{
  cursor:pointer;
}

ul.ft_nav li:nth-of-type(5){
  position: relative;
  left:500px;
  border:1px solid white;
  padding:12px;
  border-radius: 100px;
  width:120px;
  text-align: center;
  font-size:16px;
}

div.notice{
  margin:15px 5px;
  font-weight: 600;
  /* color:rgb(117, 139, 253); */
  font-size:16px;
}

div.notice p{
 cursor:pointer;
}

div.copy{
  margin:0 5px;
  font-size:12px;
  font-weight: 200;
}

