* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 8vh;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.footer {
  padding: 10px;
  height: 250px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: rgba(255, 255, 255, 255);
  display: flex;
  flex-direction: column;
  background-color: rgba(117, 140, 253);
}

.footer div.footer_box {
  margin: 15px;
}

.logo {
  margin-left: -800px;
}

.msg_box {
  margin-left: 975px;
}

.msg_box label {
  font-weight: 600;
  color: rgba(255, 255, 255, 255);
  text-align: right;
  margin: 10px;
}

.msg_box button {
  padding: 15px;
  height: 60px;
  border-radius: 50em;
  border: 1px solid rgba(230, 230, 230, 0.6);
  color: white;
  background-color: rgba(117, 140, 253);
  cursor: pointer;
}

div.footer p {
  font-size: 14px;
}

div.footer_nav {
  display: flex;
  margin-left: 1230px;
}

.footer li {
  margin: 10px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

div.copy {
  margin-left: 1065px;
  color: rgba(228, 228, 228, 0.8);
}

.msg_box {
  display: flex;
}
